Food Packaging
Functions & Requirements
➢Packaging is the science, art, and technology of enclosing or protecting products
for distribution, storage, sale, and use.
Definitions
➢The packaging institute international defines packaging as a enclosure of
products, items or packages in a wrapped pouch, bag, box, cup, tray, can, tube,
bottle or other container form for any of the following functions
•
containment,
•
protection and /or preservation,
•
communications and utility or
•
performance.
2
Category
Packaging
Packing
Mean
It is a process of designing
and manufacturing container
for protection and also for
display
It is building a container or box
for a product for transport and
storage but not for a display
Purpose
To contain and protect
To ease transportation
Food contact
Comes in direct contact with 
the product
Never in direct contact with the 
food
Material
Primary packaging
Secondary/tertiary/quaternary
3
➢The UK Institute of packaging provides three definitions of packaging.
1. A coordinated system of preparing goods for transport, distribution, storage,
retailing and end-use.
2. A means of ensuring safe delivery to the ultimate consumer in sound 
condition at minimum cost.
3. A techno-economic function aimed at minimizing cost of delivery while
maximizing sales.
Difference between packing and packaging
4
Types/Levels of packaging
•
Primary
packaging,
commonly
referred
to
as
consumer
or
retail
packaging, is the box that is in direct contact with your product.
•
Secondary packaging is the shipping box that is used to contain your 
primary packaging, but it can also be retail or consumer-facing packaging.
•
Tertiary packaging is generally the shipping box used to protect the
secondary packaging. Warehouses use tertiary packaging to protect and
transport goods
Functions of packaging
Containment
Protection
Preservation
Communication
Convenience
5
Containment (to contain the product)
•
The ability of the packaging to maintain its integrity during the handling
of the food while processing, transportation, marketing and disposing.
•
Without containment product loss would be wide spread.
•
Depends on the product’s physical form and nature
•
The containment function of packaging contribute to the protection of the 
environment as faulty packaging could result in food waste and pollution
6
Protection (to protect the product)
•
Packaging
protects
the
food
against
biological
contamination
(microorganisms,
insects,
rodents),
chemical changes (moisture, color, oxidation, flavor
etc.) and mechanical damage during distribution and
use
Preservation (to extend the shelf-life)
•
Shelf life is defined as the time limit, under defined
storage conditions, during which food remains safe,
retains desired sensory characteristics
•
It preserves the food by extending the shelf-life by
providing a barrier between the food and the external
environment
7
Communication (to provide the information)
•
Provides information about the food product
such as brand identification, pricing, legal
requirements, product ingredients, shelf-life,
and pricing.
•
Helps to promote the food as it informs to
consumers about many offers i.e. free extra
product, new product, money off etc.
Convenience (to ease the access of food)
•
Range of sizes, easy handling, easy opening
and
dispensing,
resealability,
and
food
preparation in the package are examples of
packaging providing convenience to the
consumer.
8
9
Requirements for effective food packaging
Be non toxic
Protect against contamination from microorganisms
act as a barrier to moisture loss or gain and oxygen ingress
protect against ingress of odors or environmental toxicants
Filter out harmful UV light
Provide resistance to physical damage
Be transparent, tamper – resistant or tamper – evident
Be easy to open
Have dispensing and resealing features 
Be disposed of easily,
Meet size, shape and weight requirements 
Have appearance, printability features
Be low cost
Be compatible with food
